* { 
  margin: 0 ; 
  padding: 0 ; 
}

.title { 
  margin-bottom: 1em ; 
  text-align: center;
}

.lead { 
  text-align: center;
}

.search { 
  text-align: center;
  margin: 0 auto;
}
#yay { 
  margin-top: 1em;
}


.card { 
  font-size: 30px ; 
  width: 100rem ;  
  text-align: left;  
  display: flex ; 
  flex-direction: column;
  margin: 0 auto ; 
  margin-top: 2em;

}